@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body{
    background-color:aqua;
    color:blue;
    font-family: 'kadam thomor pro', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding:15px;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline;
    margin: 20px;
}
a{
    color: blue;
    text-decoration: none;
    border: 3px solid rgb(0, 64, 255);
    padding: 15px;
    border-radius: 10px;
}
a:hover{
    color: white;
    transition: 0.3s all;
}

h1{
    font-weight: 200;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 35px;
    line-height: 25px;
    
}
p{
    line-height: 20px;
    max-width: 500px;
    
}
img{
    width: 620px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
 #enviar {
    height:50px;
    width:50%;
    color: blue;
    font-weight: bold;

    
}
#enviar:hover{
    cursor: pointer;

    
}
input{
    margin-top: 20px;
    height: 15px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    
}
footer{
    height: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: blue;
    font-family: 'kadam thomor pro' , sans-serif;} 
     

   